<span class="wrapper">
    <div class="header">
        <h3 class="title">Pokemon List</h3>
    </div>
    <ul class="list list-group">
        <li class="list-group-item" *ngFor="let pokemon of pokemonList">
            <span class="pokemon-name">{{pokemon.name}}</span>
            <button class="btn" (click)="showDescription(pokemon)">Show Description</button>
            <button class="btn" (click)="showEvolutionChain(pokemon)">Show Evolution Chain</button>
            <span class="pokemon-description" *ngIf="pokemon === selectedPokemon">{{selectedPokemon.description}}</span>
        </li>
    </ul>
</span>